<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>
    
    <%- include('./layout/header'); -%>
    <img class="mb-lg-5 w-100" src="../assets/images/about_banner.png" alt="about_banner">

    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <p class="text-center fs-6 lh-lg text-dark-brown">
            因為想吃的健康，又想吃的美味<br>
            因為在意營養成分，但又很難計算<br>
            因為想不到要吃什麼，又不想出門
          </p>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <p class="text-center fs-3 lh-lg text-dark-brown">
            這些Deal Meal訂食<br>都幫你準備好了<br>
            提供你日常所需<br>滿足你所有願望
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="products.html" class="w-100 btn btn-primary text-light-brown rounded-0 py-2 py-md-4 fs-6 mt-5 mb-7 my-md-7">即刻下訂
          </a>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
